@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#results {
  list-style: none;
  background: #dfdede;
  position: absolute;
  right: 92px;
  top: 60px;
  width: 391px;
  margin: 0;
  border-radius: 5px;
}

ol, ul {
  padding-left: 0 !important;
}

#results .result {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 7px;
  margin: 0;
  
}

#results .result:hover {
  background: #969494;
}

.navbar {
    background-color: #184A8C !important;
}

.navbar-brand {
    color: white !important;
    font-size: xx-large;
    font-family: 'Rowdies', cursive;
}

.general {
    border-radius: 5px;
    margin: auto;
    width: 100%;
    height: 2000px;
    background-color: rgb(223, 217, 217);
}

.indice {
    margin-right: 10px;
    width: 25%;
    height: 2000px;
    background-color: #dfdede;
}

.contenido {
    margin-left: 10px;
    float: right;
    width: 75%;
    height: 2000px;
    background-color: #F2F2F2;
}

.gamera {
  width: 90% !important;
}

.box {
    width: 100%;
    background: rgba (0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 1%;
    padding: 20px;
    color: rgb(5, 5, 5);
    text-align: center;
    border-radius: 15px;
}

  .box li{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box h3{
    text-align: left;
}

.box-img{
  width: 85%;
}

.img{
    float: left;
}

.box h1, h2, h3 {
    letter-spacing: 1px;
    font-weight: 0;
    font-family: 'Tajawal', sans-serif;
}

.box p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box-indice {
    background: rgba (0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 1%;
    padding: 20px;
    color: rgb(5, 5, 5);

}

.box-indice h1 {
    letter-spacing: 1px;
    font-weight: 0;
    font-family: 'Prata', serif,;
    font-size: 20px;
} 

.box-indice img {
    border-radius: 5%;
    width: 120px;
}

.box-indice i {
    color: white;
    font-size: 15px;
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;

}

.box-indice i:hover {
    color: black;
    transform: scale(1.1);

}

#ef{
   -webkit-transition: color 0.3s;
   -moz-transition: color 0.3s;
   -o-transition: color 0.3s;
   transition: color 0.3s;
}

#ef:hover {
    color: rgb(12, 11, 11) !important;  
}

body {
    background-color: rgb(192, 190, 190)!important;
}

/* TreeView */

/* Remove default bullets */
ul, ol, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }

  .ola {
    text-decoration: none;
    color: black;
    font-family: 'Tajawal', sans-serif;
    font-weight: 100 !important;
    letter-spacing: normal;
    font-size: large;
  }
  
  .ola1 {
    text-decoration: none;
    color: #BF2A2A !important;
    font-family: 'Tajawal', sans-serif;
    font-weight: 300 !important;
    letter-spacing: normal;
    font-size: large;
  }

  .ola2{
    text-decoration: none;
    color: #2a3177 !important;
    font-family: 'Tajawal', sans-serif;
    font-weight: 300 !important;
    letter-spacing: normal;
    font-size: large;
  }

  .treeview {
    text-align: left !important;
  }

  .footer {
    background-color: #184A8C !important;
    color: white !important;
  }

  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

  @media (max-width: 800px){
    .indice a{
      font-size: 16px;
    }

    .indice li{
      font-size: 12px;
    }
  }

  @media (max-width: 500px){
    .indice a{
      font-size: 12px;
    }

    .indice li{
      font-size: 8px;
    }
  }


  
