* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: grey !important;
}

.general {
    border-radius: 5px;
    margin: auto;
    width: 1423px;
    height: 2000px;
    background-color: rgb(223, 217, 217);
}

.indice {
    margin-right: 10px;
    width: 400px;
    height: 2000px;
    background-color: gray;
}

.contenido {
    margin-left: 10px;
    float: right;
    width: 1050px;
    height: 2000px;
    background-color: rgb(192, 190, 190);
}

.box {
    width: 1000px;
    background: rgba (0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 1%;
    padding: 20px;
    color: rgb(5, 5, 5);
    text-align: center;
    border-radius: 15px;
}

  .box li{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box h3{
    text-align: left;
}

.img{
    float: left;
}

/*
.box-img {
    border-radius: 5%;
} */

.box h1 {
    letter-spacing: 1px;
    font-weight: 0;
    font-family: 'Prata', serif;
}

.box p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box-indice {
    width: 250px;
    background: rgba (0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 1%;
    padding: 20px;
    color: rgb(5, 5, 5);

}

.box-indice h1 {
    letter-spacing: 1px;
    font-weight: 0;
    font-family: 'Prata', serif,;
    font-size: 20px;
} 

.box-indice img {
    border-radius: 5%;
    width: 120px;
}

.box-indice i {
    color: white;
    font-size: 15px;
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;

}

.box-indice i:hover {
    color: black;
    transform: scale(1.1);

}

#ef{
   -webkit-transition: color 0.3s;
   -moz-transition: color 0.3s;
   -o-transition: color 0.3s;
   transition: color 0.3s;
}

#ef:hover {
    color: rgb(12, 11, 11) !important;  
}

body {
    background-color: beige!important;
}

/* TreeView */

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }

  .ola {
    text-decoration: none;
    color: black;
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
