#scroll-nav {
    max-height: 500px;
    height: fit-content;
    width: 500px;
    overflow-y: scroll;
}

.link-primary {
    line-height: 40px; 
    /* margin-bottom: 10px; */
}

p img {
    max-width: 700px;
}

#title-editor .ql-editor {
    border: 1px solid #ccc;
    border-radius: 3px;
}
